<br />
<div class="booyah-box col-10 offset-1">
    <h2 class="text-center">Workout Days</h2>
    <br />
    <h1>
        <%= @week.week_name %>
    </h1>
    <% @titles.each do |title| %>
    <h3 class="links text-center">
        <%= link_to title.title, instructor_week_title_path(@week,title) %> &nbsp;&nbsp;
        <%=link_to  edit_instructor_week_title_path(@week,title),  class: "edit-symbol" do %>
        <i class="far fa-edit" style="color:white"></i>
        <% end %>&nbsp;&nbsp;
        <%= link_to instructor_week_title_path(@week, title), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'delete-symbol' do %>
        <i class="far fa-trash-alt" style='color:white'></i>
        <% end %>
    </h3>
    <br />
    <% end %>
    <div class="text-center">
        <%= link_to 'Create Workout Day', new_instructor_week_title_path(@week), class: 'btn btn-success btn-large' %>
    </div>
    <br />
    <div class="text-center">
        <%= link_to 'View Programs', instructor_program_names_path, class: 'btn btn-success btn-large' %>
    </div>
    <br />
</div>
<br />
<br />
<div class="text-center">
    <%= link_to 'Homepage', root_path, class: 'btn btn-success btn-large' %>
    <br />
</div>
<br />
<br />