<div class="booyah-box col-10 offset-1">
    <h1 class="text-center">
        <%=@title.title%>
    </h1>
    <br class="clr" />
    <div class="container">
        <div class="row">
            <div class="col-4 text-center">
                <%= link_to 'Add Movement ', new_instructor_title_program_path(@title), class: 'btn btn-success btn-small' %>
            </div>
            <div class="col-4 offset-3 text-center">
                <%= link_to 'Edit Day', edit_instructor_week_title_path(@title), class: 'btn btn-success btn-small' %>
            </div>
        </div>
        <br />
        <div class="row">
            <br class="clr" />
            <div class="col-4 text-center">
                <%= link_to 'Delete Day', instructor_title_path(@title), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger btn-small' %>
            </div>
            <br />
            <div class="col-4 offset-3 text-center">
                <%= link_to ' New Day', new_instructor_title_path, class: 'btn btn-success btn-small' %>
            </div>
        </div>
    </div>
    <br />
    <div class="text-center">
        <%= link_to 'All Days', instructor_titles_path, class: 'btn btn-success' %>
    </div>
    <br />
</div>
<br />
<div id="hide">
    <div class="booyah-box  col-12">
        <div class=" container padding">
            <table class="table table-striped">
                <thead>
                    <div class="row">
                        <div class="col-1">
                            <tr>
                                <th>
                                    <p> Movement</p>
                                </th>
                        </div>
                        <div class="col-1">
                            <th>
                                <p class="text-center">Sets</p>
                            </th>
                        </div>
                        <div class="col-1">
                            <th>
                                <p class="text-center">Reps</p>
                            </th>
                        </div>
                        <div class="col-1">
                            <th>
                                <p class="text-center"> Intensity</p>
                            </th>
                        </div>
                        <div class="col-1">
                            <th>
                                <p class="text-center">Tempo</p>
                            </th>
                        </div>
                        <div class="col-1">
                            <th>
                                <p class="text-center">Rest</p>
                            </th>
                        </div>
                        <div class="col-1">
                            <th>
                                <p> Edit</p>
                            </th>
                        </div>
                        <div class="col-1">
                            <th>
                                <p> Delete</p>
                            </th>
                        </div>
                    </div>
                    </tr>
                </thead>
                <tbody>
                    <% @title.programs.each do |program| %>
                    <div class="row">
                        <div class="col-1">
                            <tr>
                                <td>
                                    <p>
                                        <%= program.exercise %>
                                    </p>
                                </td>
                        </div>
                        <div class="col-1 text-center">
                            <td>
                                <p class="text-center">
                                    <%= program.sets %>
                                </p>
                            </td>
                        </div>
                        <div class="col-1">
                            <td>
                                <p class="text-center">
                                    <%= program.reps %>
                                </p>
                            </td>
                        </div>
                        <div class="col-1">
                            <td>
                                <p class="text-center">
                                    <%= program.intensity %>
                                </p>
                            </td>
                        </div>
                        <div class="col-1">
                            <td>
                                <p class="text-center">
                                    <%= program.tempo %>
                                </p>
                            </td>
                        </div>
                        <div class="col-1">
                            <td>
                                <p class="text-center">
                                    <%= program.rest %>
                                </p>
                            </td>
                        </div>
                        <div class="col-1">
                            <td>
                                <p class="text-center">
                                    <%=link_to edit_instructor_title_program_path(program),  class: "edit-symbol" do %>
                                    <i class="far fa-edit" style="color:white"></i>
                                    <% end %>
                                </p>
                            </td>
                        </div>
                        <div class="col-1">
                            <td>
                                <p class="text-center">
                                    <%= link_to instructor_title_program_path(program), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'delete-symbol' do %>
                                    <i class="far fa-trash-alt" style='color:white'></i>
                                    <% end %>
                                </p>
                            </td>
                        </div>
                    </div>
        </div>
        </tr>
        <br />
        <br />
        <% end %>
        </tbody>
        </table>
    </div>
</div>
</div>
<br />
<div class="text-center">
    <%= link_to "Homepage", root_path, class: 'btn btn-success' %>
</div>