<br />
<br />
<div class="booyah-box col-10 offset-1">
    <h1 class="text-center">You Gotta Be Stronger</h1>
    <hr />
    <h1>
        <%= @week.week_name %>
    </h1>
    <% @week.titles.incomplete.each do |title| %>
    <h2 class="text-center">
        <%= link_to title.title, week_title_path(@week, title) %>
        <br />
        <%= link_to "Done", complete_title_path(title), method: :put, class: 'btn btn-success' %>
    </h2>
    <% end %>
    <br />
    <div class="text-center">
        <%= link_to 'Back to Program Weeks', program_name_weeks_path(@weeks), class: 'btn btn-success btn-large' %>
    </div>
    <br />
</div>
<br />
<div class=" booyah-box col-10 offset-1">
    <h1 class="grey text-center">Completed Workouts</h1>
    <hr />
    <h1 class="grey">
        <%= @week.week_name %>
    </h1>
    <% @week.titles.completed.each do |title| %>
    <h2 class="text-center">
        <%= link_to title.title, week_title_path(@week, title) %>
        <br />
        <%= link_to "Move to Incomplete", incomplete_title_path(title), method: :delete, class: 'btn btn-success' %>
    </h2>
    <% end %>
    <div class="text-center">
        <%= link_to 'Back to Program Weeks', program_name_weeks_path(@weeks), class: 'btn btn-success btn-large' %>
    </div>
    <br />
</div>
<div class="text-center">
    <%= link_to 'Homepage', root_path, class: 'btn btn-success btn-large' %>
</div>