<br />
<div class="booyah-box col-10 offset-1  text-center">
    <h1> Edit Wrokout</h1>
    <%= simple_form_for @program, url: instructor_title_program_path do |f| %>
    div class="container ">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-6  exercise">
            <%= f.input :exercise, placeholder: "ex Bench Press" %>
        </div>
        <div class="col-2 ">
            <div class="sets">
                <%= f.input :sets, placeholder: "ex 4" %>
            </div>
        </div>
        <div class=" col-2 reps">
            <div class="reps">
                <%= f.input :reps, placeholder: "ex 6" %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <%= f.input :intensity, placeholder: " 1RM Percentage"%>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <%= f.input :tempo, placeholder: "ex 1.3.1" %>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <%= f.input :rest, placeholser: "ex 90" %>
        </div>
    </div>
    <%= f.submit "Update", class: 'btn btn-success' %>
    <% end %>
</div>