<br />
<div class="booyah-box col-10 offset-1">
    <h1> Add a new Program</h1>
    <%= simple_form_for @program, url: instructor_title_programs_path do |f| %>
    <div class="container ">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-6  exercise">
                <%= f.input :exercise, placeholder: "ex Bench Press" %>
            </div>
            <div class="col-2 ">
                <div class="sets">
                    <%= f.input :sets %>
                </div>
            </div>
            <div class=" col-2 reps">
                <div class="reps">
                    <%= f.input :reps %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <%= f.input :intensity%>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <%= f.input :tempo %>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <%= f.input :rest %>
            </div>
        </div>
        <%= f.submit "Create", class: 'btn btn-primary' %>
        <% end %>
    </div>
</div>